apiVersion: kots.io/v1beta1
kind: HelmChart
metadata:
  name: grafana
spec:
  chart:
    name: grafana
    chartVersion: 5.0.13
  values:
    adminUser: "repl{{ ConfigOption `admin_user`}}"
    adminPassword: "repl{{ ConfigOption `admin_password`}}"
